<p>card works!</p>



<div class="col-md-6">
  <div class="card">
    <div class="card-body bg-primary">
      <h5 class="card-title">{{msg}}</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <h2>{{getDate()}}</h2>
      <h2>{{getTime()}}</h2>
      <h2>{{money | currency:'USD'}}</h2>
    </div>
  </div>
</div>
<div class="col-md-6">
  <div class="card">
    <div class="card-body bg-primary">
      <h5 class="card-title">Digital Watch</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      
      <h2>{{getDate()}}</h2>
      <h3>{{getTimeDigital()}}</h3>
    </div>
  </div>

</div>



