<div class="container mt-3">
<div class="row-">
    <div class="col">
        <p class="h3 text-danger">Employee Information</p>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus sequi, ab eos distinctio officiis voluptates labore suscipit praesentium non velit, hic incidunt vitae eum rerum. Iusto odio placeat quo quos!</p>


        <!-- <pre>{{employee | json}}</pre> -->

        <table class="table table-danger text-center table-striped">
            <thead>
                <tr>
                    <th>Employee ID</th>
                    <th>FNAME</th>
                    <th>LNAME</th>
                    <th>EMAIL</th>
                    <th>GENDER</th>
                    <th>IP</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let emp of employee">
                    <td>{{emp.id}}</td>
                    <td>{{emp.first_name}}</td>
                    <td>{{emp.last_name}}</td>
                    <td>{{emp.email}}</td>
                    <td>{{emp.gender}}</td>
                    <td>{{emp.ip_address}}</td>
                
                </tr>
            </tbody>
        </table>
    </div>
</div>

</div>
